@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,500;1,400&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='2000' preserveAspectRatio='none' viewBox='0 0 1440 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3crect width='1440' height='2000' x='0' y='0' fill='rgba(255%2c 206%2c 231%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c669.278C143.24%2c672.492%2c287.69%2c707.712%2c420.876%2c654.897C569.273%2c596.05%2c734.398%2c509.83%2c784.401%2c358.224C834.368%2c206.727%2c676.092%2c63.22%2c668.581%2c-96.128C659.816%2c-282.084%2c851.423%2c-491.804%2c737.398%2c-638.959C625.664%2c-783.158%2c384.534%2c-667.93%2c204.198%2c-695.436C54.65%2c-718.246%2c-82.143%2c-813.705%2c-230.985%2c-786.664C-386.724%2c-758.37%2c-517.502%2c-657.494%2c-628.076%2c-544.231C-743.639%2c-425.857%2c-877.222%2c-291.377%2c-876.008%2c-125.951C-874.804%2c38.14%2c-707.738%2c144.143%2c-621.998%2c284.057C-548.818%2c403.475%2c-527.982%2c562.535%2c-408.911%2c636.279C-290.251%2c709.769%2c-139.539%2c666.147%2c0%2c669.278' fill='%23ff72ba'%3e%3c/path%3e%3cpath d='M1440 2970.131C1621.28 2959.506 1807.483 2899.355 1934.71 2769.784 2053.16 2649.152 2057.864 2464.657 2097.669 2300.3469999999998 2130.0860000000002 2166.532 2147.158 2036.204 2145.777 1898.525 2144.192 1740.539 2172.691 1571.642 2089.014 1437.626 2001.054 1296.751 1841.911 1219.415 1686.009 1162.17 1522.171 1102.011 1344.214 1054.288 1176.488 1102.559 1008.418 1150.929 874.195 1279.825 775.502 1424.2089999999998 683.334 1559.047 638.258 1721.9 641.52 1885.196 644.492 2033.966 752.717 2152.248 792.906 2295.518 843.122 2474.532 777.861 2695.867 906.564 2830.043 1036.4560000000001 2965.459 1252.679 2981.11 1440 2970.131' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1440' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

img {
  display: block;
  max-width: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
  flex-direction: row;
  padding-top: 3rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='300' preserveAspectRatio='none' viewBox='0 0 1440 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1078%26quot%3b)' fill='none'%3e%3crect width='1440' height='300' x='0' y='0' fill='rgba(255%2c 153%2c 224%2c 1)'%3e%3c/rect%3e%3cpath d='M34 300L334 0L401.5 0L101.5 300z' fill='url(%23SvgjsLinearGradient1079)'%3e%3c/path%3e%3cpath d='M273.6 300L573.6 0L869.1 0L569.1 300z' fill='url(%23SvgjsLinearGradient1079)'%3e%3c/path%3e%3cpath d='M492.20000000000005 300L792.2 0L1053.2 0L753.2 300z' fill='url(%23SvgjsLinearGradient1079)'%3e%3c/path%3e%3cpath d='M746.8000000000001 300L1046.8000000000002 0L1135.3000000000002 0L835.3000000000001 300z' fill='url(%23SvgjsLinearGradient1079)'%3e%3c/path%3e%3cpath d='M1412 300L1112 0L1070 0L1370 300z' fill='url(%23SvgjsLinearGradient1080)'%3e%3c/path%3e%3cpath d='M1194.4 300L894.4000000000001 0L750.4000000000001 0L1050.4 300z' fill='url(%23SvgjsLinearGradient1080)'%3e%3c/path%3e%3cpath d='M919.8 300L619.8 0L433.79999999999995 0L733.8 300z' fill='url(%23SvgjsLinearGradient1080)'%3e%3c/path%3e%3cpath d='M686.1999999999999 300L386.19999999999993 0L42.69999999999993 0L342.69999999999993 300z' fill='url(%23SvgjsLinearGradient1080)'%3e%3c/path%3e%3cpath d='M1227.538621594609 300L1440 87.53862159460891L1440 300z' fill='url(%23SvgjsLinearGradient1079)'%3e%3c/path%3e%3cpath d='M0 300L212.4613784053911 300L 0 87.53862159460891z' fill='url(%23SvgjsLinearGradient1080)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1078'%3e%3crect width='1440' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1079'%3e%3cstop stop-color='rgba(86%2c 0%2c 69%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(86%2c 0%2c 69%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1080'%3e%3cstop stop-color='rgba(86%2c 0%2c 69%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(86%2c 0%2c 69%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: contain;
}

.img-logo {
  border-radius: 50%;
  border: 3px solid #ff00ff;
  width: 25%;
}

.about {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto 200px;
  padding-top: 5rem;
  gap: 3rem;
  flex-direction: row;
}

.photo {
  border-radius: 50%;
  border: 1px solid #000000;
}

.about img {
  display: block;
  width: 40%;
}

.about-me {
  width: 50%;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 1.4rem;
  color: #8b008b;
}

.address {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto 200px;
  padding-top: 5rem;
  gap: 3rem;
  flex-direction: row;
  max-width: 100%;
}

.address-data {
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 3rem;
  color: #8a2be2;
}

.address-data a {
  color: #8b008b;
  text-decoration: none;
}

.address-data a:hover {
  color: #8b008b;
  text-decoration: underline;
}

.formation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: auto 200px;
  padding-top: 1rem;
  flex-direction: column;
  max-width: 100%;
}

.formation-title {
  font-family: "Pacifico";
  font-size: 2rem;
  color: #8b008b;
  font-weight: 400;
}

ul {
  list-style-type: none;
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
  color: #4b0082;
}

ul li {
  padding: 1rem;
}

.experiences {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: auto 200px;
  padding-top: 1rem;
  flex-direction: column;
  max-width: 100%;
}

.experience-title {
  font-family: "Pacifico";
  font-size: 2rem;
  color: #8b008b;
  font-weight: 400;
}

.courses {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  margin: auto 200px;
  padding-top: 1rem;
  flex-direction: column;
  max-width: 100%;
}

.courses-title {
  font-family: "Pacifico";
  font-size: 2rem;
  color: #8b008b;
  font-weight: 400;
}

ul li a {
  text-decoration: none;
  color: #8b008b;
}

ul li a:hover {
  text-decoration: underline;
  color: #4b0082;
}

.footer {
  background-color: #4b0082;
  padding: 2rem;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 1rem;
  color: #ffffff;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
}

.footer a:hover {
  text-decoration: underline;
  color: #ffffff;
}
